@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-geist-mono);
  --inset-shadow-depth-1:
    0 -4px 8px 0 rgba(0, 0, 0, 0.3) inset,
    0px 2px 2px rgba(255, 255, 255, 0.2) inset;
  --animate-blink: blink 1s step-start infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
